body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.asd{
    color: orange;
}
.banner flexible-container{
    display: flex;
}
.range{
    width: 50%;
    padding-left: 2%;
}
.range img{
    width: 100%;

}
.abul{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(orange, tomato);
    background-color: palegreen;
    padding: 10px 40px;
    font-weight: 700;
    border-radius: 5px;
}
.banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
.Dream{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position:right ;
}